{% extends 'master.html' %} 

{% block title %} footer {% endblock %}



{% block body %} 


<footer style="background-color: #61c9a8; color: rgb(0, 0, 0);">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <br>
            <br>
            <h5 style="font-size: 20px; font-weight: bold; font-family: 'Roboto', sans-serif;">Latratoria</h5>
          <p style="font-size: 16px;">Descubre la auténtica cocina italiana en nuestro 
            acogedor restaurante. Saborea platos gourmet preparados 
            con ingredientes frescos y recetas tradicionales. 
            Sumérgete en una experiencia culinaria llena de pasión 
            y sabores irresistibles...</p>
        </div>
        <div class="col-md-3">
            <br>
<br>
            <h5 style="font-size: 20px; font-weight: bold; font-family: 'Roboto', sans-serif;">Dirección</h5>
            <ul style="font-size: 16px; font-family: 'Open Sans', sans-serif;">
              <li>Calle, 82</li>
              <li>Población - 0000</li>
              <li>Movil: (+34) 600 00 00 00</li>
              <li>Fax: (+34) 900 00 00 00</li>
            </ul>
        </div>
        <div class="col-md-3">
            <br>
            <br>
          <h5 style="font-size: 20px; font-weight: bold; font-family: 'Roboto', sans-serif;">Horarios de Atención</h5>
          <p style="font-size: 16px;">
            <strong>Lunes a Viernes:</strong> 12pm - 10pm<br>
            <strong>Sábados y Domingos:</strong> 11am - 11pm
          </p>
        </div>
        <div class="col-md-3">
            <br>
            <br>
          <h5 style="font-size: 20px; font-weight: bold; font-family: 'Roboto', sans-serif;">Redes Sociales</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-3x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram fa-3x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>






{% endblock %}
